<launch>
    <arg name="unit"             default="2" />
    <param name="/unit" type="str" value="$(arg unit)" />
    <node name="robot_control" pkg="robot_control" type="teleop_twist_keyboard.py" output="screen" ns="$(arg unit)"></node>
    <node name="move_base_1" pkg="robot_control" type="move_base.py" output="screen" ></node>
    <node name="tick_publisher_1" pkg="robot_control" type="tickpublisher.py" output="screen" ns="$(arg unit)"></node>
    <node name="odom_1" pkg="robot_control" type="sub_to_ticks.py" output="screen" ns="$(arg unit)"></node>
</launch>
